/*************************************************
***											   ***
***					GLOBAL 					   ***
***											   ***
*************************************************/

html, header, body, footer {
	overflow-x: hidden;
	max-height: 100%;
}

@font-face {
	font-family: segoeUI;
	src: url(../fonts/segoe-ui.ttf) format('truetype');
}

@font-face {
	font-family: segoeUI-sl;
	src: url(../fonts/segoe-ui-sl.ttf) format('truetype');
}

@font-face {
	font-family: segoeUI-l;
	src: url(../fonts/segoe-ui-l.ttf) format('truetype');
}

@font-face {
	font-family: segoeUI-sb;
	src: url(../fonts/segoe-ui-sb.ttf) format('truetype');
}

/*************************************************
***											   ***
***				TYPOGRAPHY 					   ***
***											   ***
*************************************************/

html, header, body, footer {
	line-height: 1.2em;
}

h1 {
	font-size: 4.1em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.1em;
}

h4 {
	font-size: 1.5em;
}

h5, .search, .cta-content {
	font-size: 1.4em;
}

h6, .cta-link {
	font-size: 1.2em;
}

.hero-reminder {
	font-style: italic;
}

/* These are all of the classes that use SegoeUI Semilight*/
.search, .profile-greeting, .hero-subheading, .hero-reminder, .cta-heading, .cta-content, .news-heading {
	letter-spacing: 0.05em;
}

/*************************************************
***											   ***
***					FONTS 					   ***
***											   ***
*************************************************/

html, header, body, footer {
	font-family: 'segoeUI', 'Open Sans', sans-serif;
	font-size: 12px;
}

#alerts-number {
	font-family: 'segoeUI-sb', 'Open Sans', sans-serif;
}

.search, .profile-greeting, .hero-subheading, .hero-reminder, .cta-heading, .cta-content, .news-heading {
	font-family: 'segoeUI-sl', 'Open Sans', sans-serif;
}

.hero-heading {
	font-family: 'segoeUI-l', 'Open Sans', sans-serif;
}

/*************************************************
***											   ***
***					COLORS 					   ***
***											   ***
*************************************************/

footer, .sign-out-button {
	background: #f2f2f2;
}

a:-webkit-any-link {
	text-decoration: none;
	color: black;
}

a {
	text-decoration-line: none;
	text-decoration-color: none !important;
}

a:hover {
	color: #005e50;
}

.profile-greeting, #more-news-link {
	color: #1570a6 !important;
}

.hero-container {
	background: #005e50;
	color: white;
}

.cta-link {
	color: #005e5a !important;
}

#alerts-number {
	color: white;
}

#tasks-links {
	color: white;
}

#second-article {
	text-decoration-line: underline;
	text-decoration: underline;
	text-decoration-color: blue;
	color: blue;
}

/*************************************************
***											   ***
***					LAYOUT 					   ***
***											   ***
*************************************************/

footer {
	height: 22.4em;
	margin-top: 4.5em;
	padding: 2em 0 0 8.4em;
}

li {
	margin-top: 0.75em;
}

.logo {
	max-width: 10em;
	max-height: 4em;
	margin: 2em 0 1em -1em;
}

.nav-bar {
	margin-left: 8.4em;
	margin-bottom: 3.7em;
}

.nav-a, .nav-b, .nav-c, .nav-d {
	padding-top: 0.3em;
}

.search {
	width: 100%;
	height: 2.6em;
	margin-top: -0.5em;
}

.search-icon, .alarm {
	height: 3.9em;
	margin-top: -0.8em;
}

.profile-greeting {
	margin: 2.5em 0.5em 0 0;
}

.profile-pic {
	height: 3.9em;
	margin: 2em 0;
}

.hero-container {
	height: 38.2em;
	border-top: 0.1em solid #cccccc;
}

.hero-image {
	max-width: 100%;
	height: 100%;
}

.hero-heading {
	margin: 2em 0 0 2.8em;
}

.hero-subheading {
	margin: 3em 0 0 5.6em;
}

#tasks-links > .tasks, #tasks-links > .chevron {
	display: inline-block;
}

.tasks {
	margin: 2em 0 0 8em;
}

.chevron {
	height: 1em;
	width: 1em;
	margin-top: 3.5em;
	margin-left: 1em;
}

.hero-reminder {
	margin: 1em 0 0 8em;
}

.cta-container {
	margin: 4.2em 13em;
	width: 100%;
}

.cta-content {
	margin: 1.4em 0 0 0.2em;
	width: 65%;
}

.cta-link {
	margin-right: 1em;
}

.news-heading {
	margin-left: 4.1em;
	max-height: 4.1em;
	border-top: 0.1em solid #cccccc;
	border-bottom: 0.1em solid #cccccc;
	padding: 1.5em 0;
	width: 77%;
}

.article-container {
	margin: 4.2em 13em 0;
	padding-bottom: 4.2em;
	border-bottom: 0.4em solid #cccccc;
}

.article-image {
	margin-right: 4em;
	max-width: 100%;
}

.sign-out-button {
	width: 8.4em;
	height: 4.3em;
	display: none;
}

.profile-pic:hover + .sign-out-button {
	display: block;
	margin-top: 6.4em;
}

/*************************************************
***											   ***
***				 TRANSITIONS				   ***
***											   ***
*************************************************/

.nav-link, .tasks, .chevron, .cta-link, .article-heading {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.nav-link:hover, .tasks:hover, .chevron:hover, .cta-link:hover, .article-heading:hover {
	text-decoration: underline;
	text-decoration-line: underline;
}

/*************************************************
***											   ***
***					GRID 					   ***
***											   ***
*************************************************/

footer {
	display: grid;
	grid-template-columns: 25% 25% 35% 15%;
	grid-template-rows: 12em 1em;
	grid-template-areas:
		"footer-ctas footer-external-links . ."
		". . . copyright";
}

.nav-bar {
	display: inline-grid;
	grid-template-columns: auto 11em 8em 8em 8em 8em 11em 23em 3.9em 0.8em auto;
	grid-template-rows: auto 3.33em;
	grid-template-areas:
		"logo . . . . . . profile-greeting profile-greeting . profile-pic"
		"title . nav-a nav-b nav-c nav-d . search search-icon . alarm";
}

.hero-container {
	display: grid;
	grid-template-columns: 55% 45%;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-areas:
		"hero-heading hero-image"
		"hero-subheading hero-image"
		"hero-tasks hero-image"
		"hero-reminder hero-image";
}

.cta-container {
	display: inline-grid;
	grid-template-columns: 19% 25% 22% 22%;
	grid-template-rows: auto;
	grid-template-areas:
		"cta-group-a cta-group-b cta-group-c cta-group-d";
}

.article-container {
	display: grid;
	grid-template-columns: 48% 52%;
	grid-template-rows: 4em 6em 10.5em 1.5em;
	grid-template-areas:
		"article-image article-heading"
		"article-image article-info"
		"article-image article-blurb"
		"article-image more-news-link";
}

.logo {
	grid-area: logo;
}

.title {
	grid-area: title;
}

.nav-a {
	grid-area: nav-a;
	justify-self: center;
}

.nav-b {
	grid-area: nav-b;
	justify-self: center;
}

.nav-c {
	grid-area: nav-c;
	justify-self: center;
}

.nav-d {
	grid-area: nav-d;
	justify-self: center;
}

.search {
	grid-area: search;
	-webkit-appearance: none;
}

.search-icon {
	grid-area: search-icon;
}

.alarm {
	grid-area: alarm;
}

.profile-greeting {
	grid-area: profile-greeting;
	justify-self: right;
}

.sign-out-button {
	grid-area: profile-pic;
}

.profile-pic {
	grid-area: profile-pic;
	justify-self: center;
}

.hero-heading {
	grid-area: hero-heading;
}

.hero-subheading {
	grid-area: hero-subheading;
}

.hero-tasks {
	grid-area: hero-tasks;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-template-rows: 1em;
	grid-template-areas:
		"tasks chevron";
}

.tasks-links {
	grid-area: tasks;
}

.tasks {
	grid-area: tasks;
}

.chevron {
	grid-area: chevron;
}

.hero-reminder {
	grid-area: hero-reminder;
}

.hero-image {
	grid-area: hero-image;
}

#cta-a {
	grid-area: cta-group-a;
}

#cta-b {
	grid-area: cta-group-b;
}

#cta-c {
	grid-area: cta-group-c;
}

#cta-d {
	grid-area: cta-group-d;
}

.article-image {
	grid-area: article-image;
}

.article-heading {
	grid-area: article-heading;
}

.article-info {
	grid-area: article-info;
}

.article-blurb {
	grid-area: article-blurb;
}

#more-news-link {
	grid-area: more-news-link;
	justify-self: right;
}

.footer-ctas {
	grid-area: footer-ctas;
}

.footer-external-links {
	grid-area: footer-external-links;
}

.copyright {
	grid-area: copyright;
	self-justify: right;
}

/*************************************************
***											   ***
***				RESPONSIVE 					   ***
***											   ***
*************************************************/

@media screen and (min-width: 1700px) {
	html, body {
		font-size: 15px;
		line-height: 1.3em;
	}
}