/*************************************************
***											   ***
***					GLOBAL 					   ***
***											   ***
*************************************************/

html, body {
	overflow-x: hidden;
}

/*************************************************
***											   ***
***				TYPOGRAPHY 					   ***
***											   ***
*************************************************/

h1 {
	font-size: 4.1em;
}

h2 {
	font-size: 3.1em;
}

h3 {
	font-size: 2.3em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.3em;
}

.search {
	font-size: 1.5em;
}

.hero-reminder {
	font-style: italic;
}

.cta-content {
	font-size: 1.5em;
}

.cta-link {
	font-size: 1.3em;
}

/*************************************************
***											   ***
***					FONTS 					   ***
***											   ***
*************************************************/

html, header, body, footer {
	font-family: segoeUI;
	font-size: 12px;
}

@font-face {
	font-family: segoeUI;
	src: url(../fonts/segoe-ui.ttf);
}

/*************************************************
***											   ***
***					COLORS 					   ***
***											   ***
*************************************************/

.profile-greeting {
	color: #1570a6;
}

.hero-container {
	background: #005e50;
	color: white;
}

.cta-link {
	color: #005e5a;
}

.more-news-link {
	color: #1570a6;
}

/*************************************************
***											   ***
***					LAYOUT 					   ***
***											   ***
*************************************************/

.logo {
	max-width: 10em;
	max-height: 5em;
	margin: 1em 0 1em 7.5em;
}

.nav-bar {
	margin-left: 8.4em;
	margin-bottom: 3.7em;
}

.nav-a {
	padding-top: 0.3em;
}

.nav-b {
	padding-top: 0.3em;
}

.nav-c {
	padding-top: 0.3em;
}

.nav-d {
	padding-top: 0.3em;
}

.search {
	width: 100%;
	height: 2.6em;
	margin-top: -0.5em;
}

.search-icon {
	height: 3.9em;
	margin-top: -0.8em;
}

.alarm {
	height: 3.9em;
	margin-top: -0.8em;
}

.profile-greeting {
	margin-right: 0.5em;
}

.profile-pic {
	height: 3.9em;
	margin-top: -0.8em;
}

.hero-container {
	height: 38.2em;
	border-top: 0.1em solid #cccccc;
}

.hero-heading {
	margin: 2em 0 0 3em;
}

.hero-subheading {
	margin: 3em 0 0 5.5em;
}

.tasks {
	margin: 2em 0 0 8em;
}

.chevron {
	height: 1em;
	width: 1em;
	margin-top: 3.5em;
}

.hero-reminder {
	margin: 1em 0 0 8em;
}

.cta-container {
	margin: 4.2em 13em;
	width: 100%;
}

.cta-content {
	margin: 0.8em 0 0 0.2em;
	width: 65%;
}

.cta-link {
	margin-right: 1em;
}

.news-heading {
	margin-left: 4.1em;
	max-height: 4.1em;
	border-top: 0.1em solid #cccccc;
	border-bottom: 0.1em solid #cccccc;
	padding: 1.5em 0;
	width: 77%;
}

.article-container {
	margin: 4.2em 13em 0;
	padding-bottom: 4.2em;
	border-bottom: 0.1em solid #cccccc;
}

.article-image {
	margin-right: 4em;
}

/*************************************************
***											   ***
***					GRID 					   ***
***											   ***
*************************************************/

.nav-bar {
	display: inline-grid;
	grid-template-columns: auto 2.3em 8em 8em 8em 8em 2.3em 30em 3.9em 0.5em 3.9em 2em auto 3.33em;
	grid-template-rows: 3.33em;
	grid-template-areas:
		"title . nav-a nav-b nav-c nav-d . search search-icon . alarm . profile-greeting profile-pic";
}

.hero-container {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-areas:
		"hero-heading hero-image"
		"hero-subheading hero-image"
		"hero-tasks hero-image"
		"hero-reminder hero-image";
}

.cta-container {
	display: inline-grid;
	grid-template-columns: 19% 25% 22% 22%;
	grid-template-rows: auto;
	grid-template-areas:
		"cta-group-a cta-group-b cta-group-c cta-group-d";
}

.article-container {
	display: inline-grid;
	grid-template-columns: 48% 52%;
	grid-template-rows: 4em 6em 10.5em 1.5em;
	grid-template-areas:
		"article-image article-heading"
		"article-image article-info"
		"article-image article-blurb"
		"article-image more-news-link";
}

.title {
	grid-area: title;
}

.nav-a {
	grid-area: nav-a;
	justify-self: center;
}

.nav-b {
	grid-area: nav-b;
	justify-self: center;
}

.nav-c {
	grid-area: nav-c;
	justify-self: center;
}

.nav-d {
	grid-area: nav-d;
	justify-self: center;
}

.search {
	grid-area: search;
	-webkit-appearance: none;
}

.search-icon {
	grid-area: search-icon;
}

.alarm {
	grid-area: alarm;
}

.profile-greeting {
	grid-area: profile-greeting;
	justify-self: right;
}

.profile-pic {
	grid-area: profile-pic;
	justify-self: center;
}

.hero-heading {
	grid-area: hero-heading;
}

.hero-subheading {
	grid-area: hero-subheading;
}

.hero-tasks {
	grid-area: hero-tasks;
	display: inline-grid;
	grid-template-columns: 26em auto;
	grid-template-rows: 1em;
	grid-template-areas:
		"tasks chevron";
}

.tasks {
	grid-area: tasks;
}

.chevron {
	grid-area: chevron;
}

.hero-reminder {
	grid-area: hero-reminder;
}

.hero-image {
	grid-area: hero-image;
}

#cta-a {
	grid-area: cta-group-a;
}

#cta-b {
	grid-area: cta-group-b;
}

#cta-c {
	grid-area: cta-group-c;
}

#cta-d {
	grid-area: cta-group-d;
}

.article-image {
	grid-area: article-image;
}

.article-heading {
	grid-area: article-heading;
}

.article-info {
	grid-area: article-info;
}

.article-blurb {
	grid-area: article-blurb;
}

.more-news-link {
	grid-area: more-news-link;
	justify-self: right;
}

/*************************************************
***											   ***
***				RESPONSIVE 					   ***
***											   ***
*************************************************/

@media screen and (min-width: 1700px) {
	html, body {
		font-size: 15px;
	}
}